{%comment%} w {%endcomment%}
{% assign description1 | desc1 = 'hi testing liquid objects will this work' %}
{% assign description1 | desc2 = 'hi testing liquid objects will this work TWO' %}

{% assign title = 'hi welcome' %}

<div class = "index full-width">
    <div class = "index-content">
        <div>
            <h1 class = "index-welcome">{{title}}!</h1>

            <p class = "index-description">{% content_for 'block', type: 'text', id: 'desc1'%}</p>
            <p class = "index-description">  {% content_for 'block', type: 'text', id: 'desc2'%}</p>
            <p class = "index-description-colored">test</p>

            

        </div>
    </div>

    {% unless request.design_mode %}

    <div class = "image">
    <img src ="{{'highlyrelevantimage.png' | asset_url}}" width="300" height="300">
    </div>
    {% endunless %}

    <div class = "link"> <p>{{'Youtube' | link_to: 'www.youtube.com'}}</p> </div>




</div>



{% stylesheet %}
.index{
    display: grid;
    padding: 48px, 0;


}
.index-content{
    display: flex;
}

.image{

}
.link{

}
{% endstylesheet %}


{% schema %}
{
  "name": "Index Page",
  "settings": [],
  "presets": [
    {
      "name": "Hello World Template",
      "category": "Demo"
    }
  ]
}
{% endschema %}
